// General
$color-alt: #8E93A3;
$color-border: #EAECF1;
$color-brand: #496856;
$color-bg-light: #F0F0F0;
$color-bg-dark: #383842;
$color-bg-darker: #2A2A2A;
$color-default: #4A4A4A;
$color-inverse: #FFFFFF;
$color-inverse-alt: #FFD2D2;
$color-gray: #E0E0E0;
$color-gray-dark: #A6A6A6;
$color-gray-darker: #969696;

// Input
$color-input-bg: #F7F7F7;
$color-input-border: #DDDDDD;
$color-input-dark-bg: #575757;
$color-input-dark-border: #575757;

// Links
$color-link: $color-brand;
$color-link-alt: #B4B4B4;

