// Border Radius
$border-radius: 2px;

// Buttons
$button-height: 50px;

// Header
$header-height: 480px;

// Input
$input-height: $button-height;

// Paddings
$padding-default: 20px;
$padding-section: $padding-default * 2.5;

// Screens
$screen-mini: 375px;
$screen-xs: 414px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;